
{% extends 'base.html' %}

{% load static %}



{% block content %}
<h5>This is from inside the block</h5>
<img src="{% static 'my_app/x.png' %}" alt="Not">
<h4><a href="{% url 'my_app:variable'%}">Click me</a></h4>

{% endblock  %}


{% comment %} <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
	<script src="index.js"></script>
    <h1>HTML Templates connected</h1>
    <h4><a href="{% url 'my_app:variable'%}">Click me</a></h4>
  </body>
</html> {% endcomment %}